[submodule "regional_workflow"]
	path = regional_workflow
	url = https://github.com/NOAA-EMC/regional_workflow
[submodule "src/UFS_UTILS"]
	path = src/UFS_UTILS
	url = https://github.com/ufs-community/UFS_UTILS
[submodule "src/ufs-weather-model"]
	path = src/ufs-weather-model
	url = https://github.com/ufs-community/ufs-weather-model
[submodule "src/UPP"]
	path = src/UPP
	url = https://github.com/NOAA-EMC/UPP
